
           <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <p class="mt-2 ig-grey-color signup-sentence">Sign up to see photos and videos from your friends.</p>
        </div>

        <!-- Begining of inputs -->
        <div class="form-group mb-1 mt5">
          <input type="number-or-email" class="form-control light-grey-border light-grey-background" id="number-email" aria-describedby="emailHelp" placeholder="Mobile Number or Email">
        </div>
        <div class="form-group remove-mb mb-1">
          <input type="full-name" class="form-control light-grey-border light-grey-background  " id="full-name" placeholder="Full Name">
        </div>
        <div class="form-group mb-1">
            <input type="username" class="form-control light-grey-border light-grey-background" id="username" aria-describedby="emailHelp" placeholder="username">
          </div>
          <div class="form-group remove-mb mb-4">
            <input type="password" class="form-control light-grey-border light-grey-background  " id="password" placeholder="Password">
          </div>
<!-- End of inputs -->


        <button type="submit" class="btn btn-block ig-primary font-bold">Sign Up</button>

        <div class="mt-4">
            <p class="mt-2 ig-grey-color signup-sentence w-100">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</p>
          </div>
        </form>
