
           <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <p class="mt-2 ig-grey-color signup-sentence">Sign up to see photos and videos from your friends.</p>
        </div>

        <!-- Begining of inputs -->
        <div class="form-group mb-1 mt5">
          <input formControlName="email"  type="number-or-email" class="form-control light-grey-border light-grey-background" id="number-email" aria-describedby="emailHelp" placeholder="Mobile Number or Email" [ngClass]="{ 'is-invalid': submitted && formValues.email.errors }">
          <div *ngIf="submitted && formValues.email.errors" class="invalid-feedback">
              <div *ngIf="formValues.email.errors.required">Email is required</div>
              <div *ngIf="formValues.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group remove-mb mb-1">
          <input formControlName="fullName"  type="full-name" class="form-control light-grey-border light-grey-background  " id="full-name" placeholder="Full Name"  [ngClass]="{ 'is-invalid': submitted && formValues.fullName.errors }">
          <div *ngIf="submitted && formValues.fullName.errors" class="invalid-feedback">
              <div *ngIf="formValues.fullName.errors.required">Full Name is required</div>
              <div *ngIf="formValues.fullName.errors.minlength">Full Name must be at least 5 characters</div>
          </div>
        </div>
        <div class="form-group mb-1">
            <input formControlName="username"  type="username" class="form-control light-grey-border light-grey-background" id="username" aria-describedby="emailHelp" placeholder="username"   [ngClass]="{ 'is-invalid': submitted && formValues.username.errors }">
            <div *ngIf="submitted && formValues.username.errors" class="invalid-feedback">
                <div *ngIf="formValues.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group remove-mb mb-4">
            <input formControlName="password"  type="password" class="form-control light-grey-border light-grey-background  " id="password" placeholder="Password"   [ngClass]="{ 'is-invalid': submitted && formValues.password.errors }">
            <div *ngIf="submitted && formValues.password.errors" class="invalid-feedback">
                <div *ngIf="formValues.password.errors.required">Password is required</div>
                <div *ngIf="formValues.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
<!-- End of inputs -->


        <button type="submit" class="btn btn-block ig-primary font-bold">Sign Up</button>

        <div class="mt-4">
            <p class="mt-2 ig-grey-color signup-sentence w-100">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</p>
          </div>
        </form>
