
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group mb-1">
          <input formControlName="email" type="email" class="form-control light-grey-border light-grey-background" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && formValues.email.errors }">
          <div *ngIf="submitted && formValues.email.errors" class="invalid-feedback">
              <div *ngIf="formValues.email.errors.required">Email is required</div>
              <div *ngIf="formValues.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group remove-mb mb-4">
          <input formControlName="password" type="password" class="form-control light-grey-border light-grey-background  " id="exampleInputPassword1" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && formValues.password.errors }">
          <div *ngIf="submitted && formValues.password.errors" class="invalid-feedback">
              <div *ngIf="formValues.password.errors.required">Password is required</div>
              <div *ngIf="formValues.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>

        <button type="submit" class="btn btn-block ig-primary font-bold">Log In</button>
      </form>
