<!--
<form class="login-form text-center mx-auto grey-border p-5 mt-12">
  <div class="form-group mb-5">
    <div class="sprite ig-logo mx-auto"></div>
  </div>
  <div class="form-group mb-1">
    <input type="email" class="form-control light-grey-border light-grey-background" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone number, username, or email">
  </div>
  <div class="form-group remove-mb mb-4">
    <input type="password" class="form-control light-grey-border light-grey-background  " id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn ig-primary w-100">Log In</button>
</form> -->

<div class="d-flex flex-column align-items-center text-center">
    <form class="login-form text-center mx-auto grey-border p-5 mt-12 mb-3 col-md-4">
        <div class="form-group mb-4">
          <div class="sprite ig-logo mx-auto"></div>
          <p class="mt-2 ig-grey-color signup-sentence">Sign up to see photos and videos from your friends.</p>
        </div>

        <div class="form-group mb-1">
          <input type="email" class="form-control light-grey-border light-grey-background" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone number, username, or email">
        </div>
        <div class="form-group remove-mb mb-4">
          <input type="password" class="form-control light-grey-border light-grey-background  " id="exampleInputPassword1" placeholder="Password">
        </div>

        <button type="submit" class="btn ig-primary">Log In</button>
      </form>

      <div class="card col-md-4">
          <div class="card-body">
            <p class="card-text">Have an account?<a class="ig-primary-color"> Log In</a></p>
          </div>
        </div>

</div>
