/* You can add global styles to this file, and also import other style files */


/*

  TABLE OF CONTENTS
  - General Styles
  - Image Sprites
  - Colors
  - Spacing & Sizes
  - Media Queries


*/



/*  General styles */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  background-color: #fafafa;
    background-color: rgba(var(--b3f,250,250,250),1);
}





/*  Image Sprites */
.sprite {
  background: url("https://instagram-clone-2019.s3.amazonaws.com/image-sprites/image-sprites-2.png");
}

.ig-logo {
  width: 171px;
  height: 51px;
  background-size: 410px 396px;
  background-position: -97px 0;
}





/*  Colors */
.grey-border {
  border: 1px solid #e6e6e6;
}

.ig-primary {
  color: white !important;
  background-color: #3897f0 !important;
  background: rgba(var(--h5f,56,151,240),1);
}

.light-grey-border {
  border: 1px solid #efefef !important;
}

.light-grey-background {
  background: #fafafa !important;
}

.sky-blue-background {
  background-color: rgba(var(--h5f,56,151,240),.3);
}





/* Spacing & Sizes */
.w-60 {
  width: 60%;
}





/* Media Queries */
@media only screen and (max-width: 400px) {
  .login-form {
    width:100%;
  }
}

@media only screen and (min-width: 768px) {
  .login-form {
    width:80%;
  }
}

@media only screen and (min-width: 992px) {
  .login-form {
    width: 40%;
  }

}
