
<div class="d-flex flex-column align-items-center text-center">
    <form class="login-form text-center mx-auto grey-border p-5 mt-12 mb-2 col-md-4">
        <div class="form-group mb-4">
          <div class="sprite ig-logo mx-auto"></div>
          <p class="mt-2 ig-grey-color signup-sentence">Sign up to see photos and videos from your friends.</p>
        </div>

        <!-- Begining of inputs -->
        <div class="form-group mb-1 mt5">
          <input type="number-or-email" class="form-control light-grey-border light-grey-background" id="number-email" aria-describedby="emailHelp" placeholder="Mobile Number or Email">
        </div>
        <div class="form-group remove-mb mb-1">
          <input type="full-name" class="form-control light-grey-border light-grey-background  " id="full-name" placeholder="Full Name">
        </div>
        <div class="form-group mb-1">
            <input type="username" class="form-control light-grey-border light-grey-background" id="username" aria-describedby="emailHelp" placeholder="username">
          </div>
          <div class="form-group remove-mb mb-4">
            <input type="password" class="form-control light-grey-border light-grey-background  " id="password" placeholder="Password">
          </div>
<!-- End of inputs -->


        <button style="font-weight: bold;" type="submit" class="btn btn-block ig-primary">Sign Up</button>

        <div class="mt-4">
            <p class="mt-2 ig-grey-color signup-sentence w-100">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</p>
          </div>
      </form>

      <div class="card col-md-4">
          <div class="card-body">
            <p class="card-text">Have an account?<a class="ig-primary-color"> Log In</a></p>
          </div>
        </div>


      <div class="col-md-4 mt-2">
          <p class="mt-3 w-100">Get the app</p>
          <div class="row mt-2">
            <img class="col-md-6" src="https://instagram-clone-2019.s3.amazonaws.com/ig-images/badges/apple-store-badge.png" alt="">
            <img class="col-md-6" src="https://instagram-clone-2019.s3.amazonaws.com/ig-images/badges/google-play-icon.png" alt="">
          </div>
      </div>

</div>
